language = "nodejs"
run = "npm start"
modules = ["nodejs-20"]

[deploy]
run = ["sh", "-c", "npm run web"]

[env]
NODE_ENV = "development"

[packager]
language = "nodejs"
ignoredPackages = ["**/node_modules/**"]

[gitHubImport]
requiredFiles = [".replit", "package.json"]

[unitTest]
language = "nodejs"

[languages]

[languages.javascript]
pattern = "**/*.{js,jsx}"

[languages.typescript]
pattern = "**/*.{ts,tsx}"

[nix]
channel = "stable-25_05"

[agent]
expertMode = true
